.vmodal-overlay
.vmodal-box.vmodal-box--error#vmodal-box
    h1.vmodal-box__header.vmodal-box__header--error
    div.vmodal-box__container
        p.vmodal-box__message
        button.vmodal-box__button.vmodal-box__button--error OK
    button.vmodal-box__close.vmodal-box__close--error