.vmodal-overlay
.vmodal-box.vmodal-box--success#vmodal-box
    h1.vmodal-box__header.vmodal-box__header--success
    div.vmodal-box__container
        p.vmodal-box__message
        button.vmodal-box__button.vmodal-box__button--success OK
    button.vmodal-box__close.vmodal-box__close--success